In [15]:
import numpy as np 
import pandas as pd

In [16]:
import pandas as pd
import json

In [20]:
df = pd.read_csv('/Users/aishwaryarawat/Downloads/joe-rogan-experience-1169-elon-musk.csv')

In [21]:
df.head()

    Timestamp    Speaker                                               Text
0  [00:00:00]  Joe Rogan  Ah, ha, ha, ha. Four, three, two, one, boom. T...
1  [00:00:09]  Elon Musk                                    You're welcome.
2  [00:00:10]  Joe Rogan                        It's very good to meet you.
3  [00:00:11]  Elon Musk                              Nice to meet you too.
4  [00:00:12]  Joe Rogan    And thanks for not lighting this place on fire.

In [22]:
df['Speaker'].unique()

array(['Joe Rogan', 'Elon Musk', 'Jaime'], dtype=object)

In [23]:
df.query("Speaker != 'Jaime'",inplace=True)
df = df.reset_index()

In [24]:
grouped = []
last_speaker = ''
for i in range(0,len(df)):            
    row = df.loc[i,:]
    timestamp = row['Timestamp']
    text = row['Text']
    current_speaker = row['Speaker']    
    if current_speaker == last_speaker:        
        grouped[-1]['Text'] += ' ' + text
    else:
        grouped.append({'Timestamp':timestamp,'Speaker':current_speaker,'Text':text})
    last_speaker = current_speaker

In [25]:
for i in range(0,len(grouped)):
    if i % 2 == 0:
        if grouped[i]['Speaker'] != 'Joe Rogan':            
            print(f'expecting Joe Rogan but found Elon Musk on line {i}')

In [32]:
train = []
# joe is 0, 2, 4, 6
# elon is 1,3,5,7,9
# {"prompt": "<prompt text>", "completion": "<ideal generated text>"}
for i in range(1,len(grouped),2):    
    elon_index = i
    joe_index = i -1 
    prompt = grouped[joe_index]['Text']
    completion = grouped[elon_index]['Text']

df = pd.DataFrame(train, columns=['prompt', 'completion'])

In [33]:
df.head()

,prompt,completion
0,"Ah, ha, ha, ha. Four, three, two, one, boom. T...",You're welcome.
1,It's very good to meet you.,Nice to meet you too.
2,And thanks for not lighting this place on fire.,You're welcome. That's coming later.
3,"How does one, just in the middle of doing all ...","Well, the flame, we didn't put a lot of time i..."
4,"Now, who-","And then, we have a merchandise section that o..."